.wrapper{
    width: 100vw;

    display: flex;
    flex-direction: row;
    color: white;
}

.body{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.left{
    width: 50vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem 3rem;

}

.title{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.description{
    font-size: 1.5rem;
}

.right{
    width: 50vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
}

.names{
    font-size: 1.5rem;
    text-align: center;
}

.langs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.lang{
    transition: transform 0.5s ease-in-out;
}

.lang:hover{
    transform: scale(1.2);
}

.svg {
    width: 80px;
    height: 80px;
    margin: 0.5rem;

}

.selected {
    transition: transform 1s ease-in-out;
}

@media screen and (max-width: 1000px){
    .wrapper{
        flex-direction: column;
    }

    .left{
        width: 100vw;
        padding: 1.5rem 0; /* se debe aplicar el padding a los textos, no al div (horizontal) */
    }

    .right{
        width: 100vw;
        padding: 1.5rem 0;
        margin-bottom: 1.5rem;
    }
}
