.wrapper{
    width: 80%;
    display: flex;
    flex-direction: column;
}

.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 2rem 0;

}


.headerleft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:  flex-start;
}

.nombre{
    font-size: 4rem;
    font-weight: 700;
    padding: 0 3rem;
}

.descripcion { /* no se usa */
    padding: 0 1.5rem;
    font-size: 1.5rem;
    font-weight: 400;
}

.headerright{ /* no se usa */
    display: flex;
    font-size: 2rem;
}

.body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0675AC;
}

.selected {
    transition: transform 0.5s ease-in-out;
}



